<% provide(:title, "New Task") %>
<div class='page-header'><h1>Edit Task</h1></div>

<% if @task.errors.size > 0 %>
	<div class='alert alert-danger'>
		<strong> Critical Error : </strong> <%= @task.errors.full_messages.first %>
	</div>
<% end %>

<BR>

<%= form_for @task do |f| %>
			<p>
			<%= f.label :Task_title %><br>
			<%= f.text_field :title, :class => 'form-control' %>
			</p>



			<table class='table table-condensed'>
			<tr><td>
			<%= f.label :owner %><br>
			<%= f.select :owner, ['Vidhya', 'Param', 'Shravan'] %>
			</td>
			<td>
			<%= f.label :priority %><br>
			<%= f.select :priority, [   [ 'LOW' , 3] , ['MEDIUM' , 2 ],['HIGH' , 1 ],] %>
			</td>
			<td>
			<%= f.label :category_id %><br>	
			<%= f.select :category_id, Category.all.collect { |x| [x.name,x.id] }, { :include_blank => "Select One" } %>
			</td>
			<td>
			<div id='datetimepicker'><%= f.label :due_date %><br>
			<%= f.text_field :due_date, "data-provide" => "datepicker", "data-date-autoclose" => "true", :id => "datetimepicker1"%>			
			</div>
			</td>
			</tr></table>
			<p>
			<%= f.label :remarks %><br>
			<%= f.text_area :remarks,:rows => 5, :cols => 100, :class => 'form-control'  %>

			</p>


	<%= f.submit "Update Task" , class: "btn btn-primary"  %>
<% end %>