<% provide(:title, "All Tasks") %>
<div class='page-header'><h1><%=@current_view%></h1></div>
<% if @tasks.count > 0 %>
<% @color = "grey" %>
<div class="table-responsive">
  <table class="table table-striped">
  <th></th>
  <th class='col-md-5'>Task</th>
  <th class='text-center'>Due By</th>
  <th class='text-center'>Owner</th>
  <th>Category</th>
  <th>Created On</th>
  <th class='text-center'>Task Actions</th>

<%end%>
  	<% if @tasks.each do |task| %>
		<% task_title = task.title.html_safe.gsub ' ','-' %>
		<% task_title = task_title.sub '-$','' %>
		<tr>
		<% task.priority == 1 ? @icon = "arrow-up" : @icon = "arrow-down" %>
		<% task.priority == 1 ? @color = "red" : task.priority == 2 ? @color = "orange" : @color = "grey" %>
		<% task.priority == 1 ? @pr = "HIGH" : task.priority == 2 ? @pr = "MEDIUM" : @pr = "LOW" %>
		<% task.status == 1 ? @color = "green" : @color = @color %>
		<% task.status == 0 ? @label_tag = @pr+" Priority" : @label_tag = "Task closed" %>

		<td class="table-cell"><a href="#" style='text-decoration:none;' title='<%=@label_tag%>' class='glyphicon glyphicon-<%=@icon%> <%= @color %>'></a></td>
		<td class="table-cell"><%= link_to task.title.html_safe, task_with_title_path(task, :title => task_title)%></td>		
		<% if task.due_date != nil %> <td class='col-md-1 text-center'><small><div style='background: #555;font-weight: bold;color: #FFF;'><%= task.due_date.strftime("%d") %></div><div style='background: #888;color:#FAFAFA'><%= task.due_date.strftime("%b") %></div></small></td>
		<%else%>
		<td class="table-cell">-</td>
		<%end%>
		<% task_owner = task.owner %>
		<td class='text-center'><%= link_to task.owner, tasks_path(:owner => task.owner), :title => task_owner, class:"label label-default" %></td>
		<td><a href='/categories/<%= task.category.id%>/<%= task.category.name.html_safe %>'><small><%= task.category.name.html_safe %></small></a></td>	
		<td><small><%= task.created_at.in_time_zone("Asia/Calcutta").strftime("%m/%d/%y %H:%M") %></small></td>
		<td>
			<% task.status == 0 ? link_label = 'close' : link_label = 'reopen' %>
			<% task.status == 0 ? btn_title = 'Mark this ticket as completed' : btn_title = 'Click to Reopen this task' %>
			<% task.status == 0 ? btn_label = 'glyphicon glyphicon-remove-circle' : btn_label = 'glyphicon glyphicon-ok-circle' %>
			<% task.status == 0 ? link_color = 'btn-success' : link_color = 'btn-warning' %>
			<ul class='task_actions_lists'>
			<% if task.status == 0 %>
				<li><%= link_to "edit" , edit_task_url(task), title:'Click to edit this task' , class:"glyphicon glyphicon-pencil" %></li>
			<% end %>
			<li><%= link_to link_label , toggletaskstatus_task_path(task), method: :put , title:"#{btn_title}" , class:"#{btn_label}" %></li>
			<li><%= link_to  "del", task, :method => :delete  , title:'Delete this task permanently' , class: "glyphicon glyphicon-trash", data: {confirm: "Are you sure?" } %></li>
			</ul>
			
			</td>
					</tr>

	<% end.empty? %>
	<i><p>There are no tasks in this bucket.</p></i>
	<% end %>
	</table>

<% if @tasks.count > 0 %>

<div class='well text-right starting-template'><h4>No. of Tasks <span class='label label-default'><%= @tasks.count %></span> </h4>
<%end%>
<% if ! params[:status].present? %>
<%end%>
</div>

<script type="text/javascript">
    $(function() {    	
    	$("ul.navbar-nav li").removeClass("active");
    	$("li.tasks").addClass("active");
    });
</script>