<% provide(:title, "New Task") %>
<div class='page-header'><h1>Create New Task</h1></div>

<% if @task.errors.size > 0 %>
	<div class='alert alert-danger'>
		<strong> Error(s) : </strong> 
		<ul>
		<% @task.errors.full_messages.each do |f| %>
			<li><%=f%></li>
		<%end%>
		</ul>		
	</div>
<% end %>

<BR>

<%= form_for @task do |f| %>
			<p>
			<%= f.label :Task_title %><br>
			<%= f.text_field :title, :class => 'form-control' %>
			</p>

			<table class='table table-condensed'>
			<tr>
			<td>
			<div class="input-group input-group">
			<%= f.label :user_id %><br>
			<%= f.select :user_id, User.all.collect { |x| [x.username,x.id] }, { :include_blank => "Select One" } , { :class => 'form-control' } %>

			</div>
			</td>			
			
			<td>
			<div class="input-group input-group">			
			<%= f.label :priority %><br>
			<%= f.select :priority, [ [ 'LOW' , 3] , ['MEDIUM' , 2 ],['HIGH' , 1 ] ], {}, { :class => 'form-control' } %>
			</div>
			</td>
			<td>
			<div class="input-group input-group">
			<%= f.label :category_id %><br>	
			<%= f.select :category_id, Category.all.collect { |x| [x.name,x.id] }, { :include_blank => "Select One" } , { :class => 'form-control' } %>
			</div>
			</td>
			<td>
			<div id='datetimepicker' class="input-group input-group"><%= f.label :due_date %><br>
			<%= f.text_field :due_date, "data-provide" => "datepicker", "data-date-autoclose" => "true", :id => "datetimepicker1", :class => 'form-control'   %>		
			</div>
			</td>
			</tr></table>
			<p>
			<%= f.label :remarks %><br>
			<div data-no-turbolink>
			<%= f.text_area :remarks , :rows => 5, :class => 'form-control' %>
			</div>
			</p>


		<%= f.button :submit, class: "btn btn-primary" do %>
		  <span class='glyphicon glyphicon-circle-arrow-up'></span> Submit
		<% end %>
<% end %>