<% provide(:title, "Show Task") %>
<% if @task.title %>

<% @task.priority == 1 ? @pr = "HIGH" : @task.priority == 2 ? @pr = "MEDIUM" : @pr = "LOW" %>

<div class="panel panel-info">
  <div class="panel-heading">
    <span class='pull-left'><h4><%= @task.title %></h4></span>
    <span class="text-right"><h4> <%= @pr %></h4></span>
  </div>
  <div class="panel-body">

<% if @task.category_id %>
<div class='task bold'>Category </div><div><%= link_to @task.category.name, categories_path %></div>
<% else %>
<BR><div class='task'>Category Id: Unassigned</div>
<% end %>
<BR><div class='bold'>Owner</div>
<div><%= link_to @task.owner, tasks_path(:owner => @task.owner) %></div>
<BR>
<div class='task bold'>Remarks
<div> <%= @task.remarks %></div>
<hr>
<div>
	<span class='label label-default'>Created at : <%= @task.created_at.in_time_zone("Asia/Calcutta").strftime("%m-%b-%Y %H:%M") %></span>
	<span class='label label-default pull-right'>Last Updated at : <%= @task.updated_at.in_time_zone("Asia/Calcutta").strftime("%m-%b-%Y %H:%M") %></span>
</div>
<% end %>
  </div>
</div>
</div>
<BR>

<%= link_to  "Go Back", tasks_path  , class: "btn btn-default" %>
<% if @task.status == 0 %>
<%= link_to  "Mark as Complete", toggletaskstatus_task_path(@task), method: :put , title:'Mark to Complete this task'  , class: "btn btn-success" %>
<%= link_to  "Edit", edit_task_path  , class: "btn btn-info" %>
<%else%>
<%= link_to "reopen" , toggletaskstatus_task_path(@task), method: :put , title:'Click to toggle status of this task' , class:"btn btn-warning" %>
<%end%>
<%= link_to  "Delete", @task, :method => :delete  , class: "btn btn-danger" , data: {confirm: "Are you sure?"} %>

<script type="text/javascript">
    $(function() {    	
    	$("ul.navbar-nav li").removeClass("active");
    	$("li.tasks.status").addClass("active");    	
    });
</script>