<% provide(:title, "Edit Category") %>
<div class='errormesg'><%= @category.errors.full_messages if @category.errors.any? %></div>
<h1>Edit Category</h1>

<%= form_for @category do |f| %>
	<p>

		<%= f.label :name %><BR>
		<%= f.text_field :name, class: 'form-control' %><BR>

	</p>

	<%= f.submit "Update Category", class:"btn btn-success" %>
<% end %>
<BR>
<BR>
<%= link_to  "Go Back", task_path %>