<% provide(:title, "All Categories") %>

<div class='page-header'><h1>All Categories</h1></div>
<div class='list-group'>
	<% if @categories.each do |c| %>
			<% c_title = c.name.html_safe.gsub ' ','-' %>
			<% c_title = c_title.sub '-$','' %>

		<a href='/categories/<%= c.id%>/<%= c_title %>' class='list-group-item'>
			<h4><%= c_title %></h4>
		    <p><%= c.desc %></p>
			<div class='label label-default label-lg'>Number of Tasks : <%= gettasks_count(c.id) %></div>		
		</a>
	<% end.empty? %>
	<i><p>There are no categories created yet.</p></i>
	<% end %>
</div>
<BR>

</div>

<script type="text/javascript">
    $(function() {    	
    	$("ul.navbar-nav li").removeClass("active");
    	$("li.categories").addClass("active");
    });

</script>