<% provide(:title, "All Categories") %>

<div class='page-header'><h1>All Categories</h1></div>
<div style='border:1px solid #DDD;border-radius:5px;background:#e8e8e8'>
	<% if @categories.each do |c| %>
			<% c_title = c.name.html_safe.gsub ' ','-' %>
			<% c_title = c_title.sub '-$','' %>

		<div style='padding: 9px 13px;border-bottom:1px solid #DDD;'>
		<a href='/categories/<%= c.id%>/<%= c_title %>'>
			<h4><%= c_title %></h4></a>
		    <p><%= c.desc %></p>

		    <div class='well'>
		    <% if c.tasks.category_id(c.id).count > 0 %>		    	
		    	<h4><u>LIST OF TASKS</u></h4>
		    	<% else %><div><p>No Tasks in this category</p>
		    <%end%>
			
			<% c.tasks.category_id(c.id).each do |t| %>

				<% t_title = t.title.html_safe.gsub ' ','-' %>
				<% t_title = t_title.sub '-$','' %>
				<% t.status == 0 ? t_status = "OPEN" : t_status = "COMPLETED" %>
				<% t.priority == 1 ? @icon = "arrow-up": @icon = "arrow-down" %>
				<% t.priority == 1 ? @color = "red" : t.priority == 2 ? @color = "orange" : @color = "grey" %>
				<% t.priority == 1 ? @pr = "HIGH": t.priority == 2 ? @pr = "MEDIUM" : @pr = "LOW" %>				
				<% t.status == 0 ? t_status_color = "label-warning" : t_status_color = "label-success" %>
				<div>
				<span title='<%=@pr%> PRIORITY' class='glyphicon glyphicon-<%=@icon%> <%=@color%>'></span>
				<span class='label label-default <%=t_status_color%>'><%=t_status%></span>
				<a class='list-group-item-text' href="/tasks/<%=t.id%>/<%=t_title %>"><%=t.title%></a></span>			
				</div>
			<%end%>
			</div>
			
		
		</div>
	<% end.empty? %>
	<i><p>There are no categories created yet.</p></i>
	<% end %>
</div>
<BR>

</div>

<script type="text/javascript">
    $(function() {    	
    	$("ul.navbar-nav li").removeClass("active");
    	$("li.categories").addClass("active");
    });

</script>